@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("../fonts/HelveticaNeue/HelveticaNeue Light.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("../fonts/HelveticaNeue/HelveticaNeue Medium.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("../fonts/HelveticaNeue/Helvetica Neu Bold.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url("../fonts/HelveticaNeue/HelveticaNeue.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Thin';
  src: url("../fonts/HelveticaNeue/HelveticaNeue Thin.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue BlackCond';
  src: url("../fonts/HelveticaNeue/HelveticaNeue BlackCond.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("../fonts/HelveticaNeue/HelveticaNeue Light.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bd';
  src: url("../fonts/HelveticaNeue/HelveticaNeueBd.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Hv';
  src: url("../fonts/HelveticaNeue/HelveticaNeueHv.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue lt';
  src: url("../fonts/HelveticaNeue/HelveticaNeuelt.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Lt';
  src: url("../fonts/HelveticaNeue/HelveticaNeueLt.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Med';
  src: url("../fonts/HelveticaNeue/HelveticaNeueMed.ttf") format('truetype');
  font-style: normal;
}