$color-light: #FFFFFF;
$color-light-darker: #E4E4E4;
$color-primary: #0A2756;
$color-secondary: #007DFE;
$color-accent: #FFB32C;
$color-error: #FB5555;
$color-secondary-transparent:rgba(0, 128, 255, 0.70);

//
//$lmd-container: 714px;
//$lg-container: 800px;
//$xl-container: 992px;
//$xxl-container: 1140px;

$sm: 320px;
$sm-container: 280px;

$md: 480px;
$md-container: 440px;

$lg:768px;
$lg-container: 714px;

$xl: 1024px;
$xl-container: 992px;

$xxl: 1200px;
$xxl-container: 1140px;





